//_setting.scss をimport
@import "./setting";


/* reset css ***********************************************/
@import "compass/reset/";


/* base html ***********************************************/
*,
*:before,
*:after{
  box-sizing: border-box;
  // user-select:none;
}

html,body{
  font-family:$baseFontFamily;
  font-size:14px;
  line-height:1;
  color: $cl_black;
  position:relative;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
  user-select: none;
}

img{vertical-align: bottom;}

p{
  margin: 1em;
  line-height: 1.4;
}

[v-cloak] {
  display: none;
}

/*-------------------------------
 ■汎用スタイル
 -------------------------------*/

/* マウスイベント停止 */
.pointer_off{
  pointer-events: none;
}

/* 表示切り替え */
.no_disp {
  display: none !important;
}
.no_visible {
  visibility: hidden !important;
}

.flex{
  display: flex;
}
.flex_wrap{
  flex-wrap: wrap;
}


/*-------------------------------
 list
 -------------------------------*/
.item{
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  border-bottom: 1px solid #ddd;

  .handle{
    padding: 8px;
    background-color: #ddd;
    display: block;
  }
}

.flip-list-move {
  transition: transform 0.5s;
}
// .no-move {
//   transition: transform 0s;
// }
// .flip-list-enter-active, .flip-list-leave-active {
//   transition: opacity 1s;
// }
// .flip-list-enter, .flip-list-leave-to {
//   opacity: 0;
// }
.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}


/*-------------------------------
 todo_edit
 -------------------------------*/
.todo_edit{
  .tabs{
    display: flex;

    li{
      padding: 8px;
      border: 1px solid #bbb;
      &.select{
        background-color: #DEF8A5;
      }
    }
  }//tabs
}

/*-------------------------------
 tabs_edit
 -------------------------------*/
.tabs_edit{
  .tabs{
    // li{
    //   padding: 8px;
    //   border: 1px solid #bbb;
    //   &.select{
    //     background-color: #DEF8A5;
    //   }
    // }
  }//tabs
}













.button {
  margin-top: 35px;
}
.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
.list-group {
  min-height: 20px;
}
.list-group-item {
  cursor: move;
}
.list-group-item i {
  cursor: pointer;
}