<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- default（Safariと同じ） / black（黒） / black-translucent（ステータスバーをコンテンツに含める） -->
  <!-- <meta name="apple-mobile-web-app-status-bar-style" content="black"> -->
  <!-- ホーム画面に表示されるアプリアイコン -->
  <link rel="apple-touch-icon" href="images/icons/icon-192.png" sizes="192x192"/>

  <title>PWA TEST</title>

  <!-- manifest.json -->
  <link rel="manifest" href="manifest.json">

  <!-- Vue & Ajax-->
  <script src="./js/vue.min.js"></script>
  <script src="./js/axios.min.js"></script>

</head>
<body>


  <div id="app">

    タスク：<input v-model="addName"><button @click="addItem(0)">前に追加</button><button @click="addItem(1)">後ろに追加</button>

    <h1 class="top">リマインダー</h1>

    <ul v-for="(item,index,newList) in todoList" class="todo">
      <li>
        <div @click="upList(index)" class="up">▲</div>
      </li>
      <li>
        <div @click="downList(index)" class="down">▼</div>
      </li>
      <li>
        <span
          @click="changeStatus(index)"
          class="status"
          :class="item.complete ? 'finished' : 'working' "
        >{{ item.complete ? "完了" : "作業中" }}</span>
      </li>
      <li>[{{ item.index }}] {{ item.title }}</li>
      <li @click="deleteItem(index)" class="delete">×</li>
    </ul>

    <button @click="deleteCompItem()">完了を削除</button>
    <button @click="saveData()">データ保存</button>

    <div class="data_view">
      {{todoList}}
    </div>

  </div><!-- /#app -->


  <script src="./app.js?7"></script>
  <link rel="stylesheet" type="text/css" href="./css/app.css">
</body>
</html>