<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- manifest.json-->
    <link rel="manifest" href="./manifest.json">
    <!-- ホーム画面に表示されるアプリアイコン（iOS）-->
    <link rel="apple-touch-icon" href="images/icons/icon-192x192.png" sizes="192x192">
    <!-- library-->
    <script src="./js/vue.min.js"></script>
    <script src="./js/localforage.min.js"></script>
    <script src="./js/axios.min.js"></script>
    <!-- Vue.Draggable-->
    <script src="./js/sortable.min.js"></script>
    <script src="./js/vuedraggable.umd.min.js"></script>
    <title>俺のToDo</title>
  </head>
  <body ontouchstart="">
    <main id="app" v-cloak>
      <section class="todo_edit">
        <ul class="tabs">
          <li v-for="(tab,key) in todo.tabs" @click="todo.selectedTab = tab.id" :class="{select : todo.selectedTab === tab.id}"><span>[{{tab.id}}] {{tab.label}}</span></li>
          <li class="edit">
            <button @click="newTab.dialog=true">Edit</button>
          </li>
        </ul>
        <hr>
        <draggable class="todo" :list="todo.items" @end="console.log('chg')" tag="ul" handle=".handle">
          <transition-group type="transition" name="flip-list"></transition-group>
          <li class="item" v-for="(item,key) in todo.items" v-if="todo.selectedTab === item.tab_id">
            <button @click="todo.items.splice(key,1)">×</button>
            <input type="checkbox" v-model="item.complate"><span class="label">
              <input type="text" v-model.lazy="item.label"></span>
            <div class="handle">=</div>
          </li>
          <li class="item new">
            <input type="checkbox" disabled><span class="label">
              <input type="text" v-model="newItem.label" @blur="addNewItem"></span>
          </li>
        </draggable>
        <div>
          <hr>
          <button @click="saveJson">SAVE</button>
          <button @click="deleteJson">Delete</button>
        </div>
      </section>
      <section class="tabs_edit" v-show="newTab.dialog">
        <h1 class="sec_title">タブ編集</h1>
        <ul class="tabs">
          <li class="item" v-for="(tab,key) in todo.tabs">
            <button @click="$delete(todo.tabs, key)">×</button><span>[{{tab.id}}]</span><span class="label">
              <input type="text" v-model.lazy="tab.label"></span>
          </li>
          <li class="item new">
            <input type="checkbox" disabled><span class="label">
              <input type="text" v-model="newTab.label" @blur="addNewTab"></span>
          </li>
        </ul>
      </section>
      <div>ver:{{ver}}</div>
      <div>selectedTab:{{todo.selectedTab}}</div>
    </main>
    <!--css,js-->
    <script src="./js/app.js"></script>
    <link rel="stylesheet" href="./css/app.css">
  </body>
</html>