<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- manifest.json-->
    <link rel="manifest" href="./manifest.json">
    <!-- ホーム画面に表示されるアプリアイコン（iOS）-->
    <link rel="apple-touch-icon" href="images/icons/icon-192x192.png" sizes="192x192">
    <!-- library-->
    <script src="./js/vue.min.js"></script>
    <script src="./js/localforage.min.js"></script>
    <script src="./js/xdate.js"></script>
    <!-- Vue.Draggable-->
    <script src="./js/sortable.min.js"></script>
    <script src="./js/vuedraggable.umd.min.js"></script>
    <!-- Google Material-icon-->
    <link rel="stylesheet" href="./iconfont/material-icons.css">
    <title>俺のToDo</title>
  </head>
  <body ontouchstart="">
    <div id="app" v-cloak>
      <header id="header">
        <ul class="task_status">
          <li class="delete" @click="removeTodoItem" :disabled="!isSelectTodo"><span class="material-icons">delete</span></li>
          <li class="all">全{{todo.items.length}} 件</li>
          <li class="comp">完了:{{completeNum}}件</li>
          <li class="no_comp">未完了:{{todo.items.length - completeNum}}件</li>
          <li class="label">達成度: {{(levelOfAchievement * 100).toFixed()}} %</li>
          <li class="order_btn" @click="editOrder = !editOrder" :class="{active:editOrder}" :disabled="!todo.items.length"><span class="material-icons">import_export</span></li>
        </ul>
        <div class="level_meter_wrap">
          <div class="level_meter" :style="'transform:scaleX(' + levelOfAchievement + ');'"></div>
        </div>
      </header>
      <main id="main">
        <div>{{todo.items}}</div>
        <draggable v-if="isLoadData" v-model="todo.items" ghost-class="ghost" animation="100" handle=".handle" :disabled="!editOrder" @start="listDrag = true" @end="listDrag = false">
          <transition-group class="todo_list" tag="ul" type="transition" :name="!listDrag ? 'flip-list' : null">
            <li class="todo_list_item" v-for="(item,key) in todo.items" :comp="item.complete" :key="item.index">
              <div class="select_check" @click="item.select = !item.select"><span class="material-icons">{{item.select ? 'check_box' : 'check_box_outline_blank'}}</span></div>
              <div class="detail">
                <div class="label">
                  <template v-if="item.limit != null"><span class="material-icons limit_over" v-if="remainingDate(item.limit) &lt; 0">whatshot</span><span class="material-icons" v-else-if="remainingDate(item.limit) &lt;= 3">priority_high</span></template>
                  <input class="label_input" type="text" v-model="item.label">
                </div>
                <div class="limit">
                  <div class="date_label"><span class="material-icons">date_range</span><span class="date">{{item.limit != null ? item.limit : '期日未設定'}}</span>
                    <input class="date_select" type="date" v-model="item.limit">
                  </div>
                  <div class="remaining">
                    <template v-if="item.limit == null"></template>
                    <template v-else-if="remainingDate(item.limit) == 0"><span class="material-icons">av_timer</span><span>期限当日</span></template>
                    <template v-else-if="remainingDate(item.limit) &lt; 0"><span class="material-icons">av_timer</span><span>{{ remainingDate(item.limit)*-1 }}日超過</span></template>
                    <template v-else-if="remainingDate(item.limit) &lt;= 3"><span class="material-icons">av_timer</span><span>あと{{ remainingDate(item.limit) }}日</span></template>
                  </div>
                </div>
              </div>
              <div class="check handle" v-if="editOrder"><span class="material-icons">menu</span></div>
              <div class="check comp" @click="item.complete = !item.complete" v-else><span class="material-icons">check</span></div>
            </li>
          </transition-group>
        </draggable>
      </main>
      <footer id="footer">
        <div class="label">
          <input type="text" placeholder="新規Todo" v-model="newItem.label">
        </div>
        <div class="item date" :disabled="!newItem.limitFlg"><span class="material-icons">date_range</span><span class="date">{{newItem.limit}}</span>
          <input class="date_select" type="date" v-model="newItem.limit">
        </div>
        <div class="item limit_flg" @click="newItem.limitFlg = !newItem.limitFlg"><span class="material-icons">{{newItem.limitFlg ? 'check_box' : 'check_box_outline_blank'}}</span>
          <label>期限を設定する</label>
        </div>
        <div class="flex-spacer"></div>
        <div class="item add_btn" @click="addNewItem"><span class="material-icons add_circle_outline"></span><span>追加</span></div>
      </footer>
    </div>
    <!--css,js-->
    <script src="./js/app.js"></script>
    <link rel="stylesheet" href="./css/app.css">
  </body>
</html>