@charset "UTF-8";
/* reset css ***********************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* base html ***********************************************/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: -apple-system, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "メイリオ", meiryo, "游ゴシック Medium", sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #333333;
  position: relative;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

img {
  vertical-align: bottom;
}

p {
  margin: 1em;
  line-height: 1.4;
}

[v-cloak] {
  display: none;
}

/*-------------------------------
 ■汎用スタイル
 -------------------------------*/
/* マウスイベント停止 */
.pointer_off {
  pointer-events: none;
}

/* 表示切り替え */
.no_disp {
  display: none !important;
}

.no_visible {
  visibility: hidden !important;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex_wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

/*-------------------------------
 list
 -------------------------------*/
.item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  border-bottom: 1px solid #dddddd;
}
.item .handle {
  padding: 8px;
  background-color: #ddd;
  display: block;
}

.flip-list-move {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}

/*-------------------------------
 todo_edit
 -------------------------------*/
.todo_edit .tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.todo_edit .tabs li {
  padding: 8px;
  border: 1px solid #bbbbbb;
}
.todo_edit .tabs li.select {
  background-color: #DEF8A5;
}

/*-------------------------------
 tabs_edit
 -------------------------------*/
.button {
  margin-top: 35px;
}

.flip-list-move {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.no-move {
  -webkit-transition: -webkit-transform 0s;
  transition: -webkit-transform 0s;
  transition: transform 0s;
  transition: transform 0s, -webkit-transform 0s;
}

.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}

.list-group {
  min-height: 20px;
}

.list-group-item {
  cursor: move;
}

.list-group-item i {
  cursor: pointer;
}
