@charset "UTF-8";
/*-------------------------------
 共通スタイル
 -------------------------------*/
/* Reset CSS **************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* base html ***********************************************/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-break: break-all;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
}

html, body {
  position: relative;
  word-wrap: break-word;
}

img {
  vertical-align: bottom;
}

.flex-spacer {
  -webkit-box-flex: 1 !important;
  -webkit-flex-grow: 1 !important;
      -ms-flex-positive: 1 !important;
          flex-grow: 1 !important;
}

.limit_over {
  -webkit-animation: 1s over infinite;
          animation: 1s over infinite;
  -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes over {
  0% {
    opacity: .5;
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #ff3;
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    color: #f33;
  }

  100% {
    opacity: .5;
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #ff3;
  }
}

@keyframes over {
  0% {
    opacity: .5;
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #ff3;
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    color: #f33;
  }

  100% {
    opacity: .5;
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #ff3;
  }
}

/* input --------------------------- */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #333;
  margin: 0;
  padding: 0.125em 0.25em;
  max-width: 100%;
  background-color: #fff;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  text-align: left;
  font-size: 24px;
  font-family: -apple-system, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "メイリオ", meiryo, "游ゴシック Medium", sans-serif;
  appearance: none;
}

::-webkit-input-placeholder {
  color: #dddddd;
}

::-moz-placeholder {
  color: #dddddd;
}

:-ms-input-placeholder {
  color: #dddddd;
}

::placeholder {
  color: #dddddd;
}

input[type="date"] {
  width: 100px;
  position: relative;
}
input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="date"]::-webkit-clear-button {
  -webkit-appearance: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 200%;
}

input[type="checkbox"] {
  display: none;
}

/* app --------------------------- */
#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* task_status_section --------------------------- */
.task_status_section {
  width: 100%;
  height: 6vh;
  -webkit-box-shadow: 0 0 2px rgba(51, 51, 51, 0.3);
          box-shadow: 0 0 2px rgba(51, 51, 51, 0.3);
  background-color: #4B68E6;
  color: #fff;
  -webkit-box-shadow: 0 2px 2px rgba(51, 51, 51, 0.5);
          box-shadow: 0 2px 2px rgba(51, 51, 51, 0.5);
}

.task_status {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
}
.task_status li {
  font-size: 10px;
}
.task_status li + li {
  padding-left: 8px;
}
.task_status li.delete {
  width: 10vw;
  text-align: center;
}
.task_status li.delete[disabled] {
  opacity: .3;
  pointer-events: none;
}
.task_status li.all {
  font-size: 14px;
}
.task_status li.no_comp {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.task_status li.label {
  font-size: 10px;
}
.task_status li.note_btn {
  width: 10vw;
  text-align: center;
}

.level_meter_wrap {
  background-color: #414d82;
}
.level_meter_wrap .level_meter {
  height: 1vh;
  width: 100%;
  background-color: #47dbe6;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}

/* todo_list_section --------------------------- */
.todo_list {
  height: 79vh;
  overflow: scroll;
}
.todo_list .todo_list_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #999999;
  padding: 8px 0;
}
.todo_list .todo_list_item .select_check {
  width: 10vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #dddddd;
}
.todo_list .todo_list_item .detail {
  width: 75vw;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 8px;
}
.todo_list .todo_list_item .detail .label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.todo_list .todo_list_item .detail .label .label_input {
  width: 92%;
  padding: 0 0.125em;
  line-height: 0.75em;
  font-size: 24px;
  border: none;
}
.todo_list .todo_list_item .detail .limit {
  border-top: 1px dashed #bbbbbb;
  padding-top: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.todo_list .todo_list_item .detail .limit .date_label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  position: relative;
}
.todo_list .todo_list_item .detail .limit .date_label .material-icons {
  font-size: 1.5em;
  padding-right: 4px;
}
.todo_list .todo_list_item .detail .limit .date_label .date_select {
  opacity: 0;
  position: absolute;
  width: 100%;
}
.todo_list .todo_list_item .detail .limit .remaining {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-weight: bold;
  font-size: 12px;
}
.todo_list .todo_list_item .detail .limit .remaining .material-icons {
  font-size: 1.5em;
  padding-right: 4px;
}
.todo_list .todo_list_item .comp_check {
  width: 15vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 1px solid #dddddd;
}
.todo_list .todo_list_item .comp_check span {
  opacity: .2;
}
.todo_list .todo_list_item[comp] .detail {
  opacity: .2;
  pointer-events: none;
}
.todo_list .todo_list_item[comp] .comp_check span {
  opacity: 1;
}

.new_item_section {
  height: 15vh;
  background-color: #4B68E6;
  color: #fff;
  -webkit-box-shadow: 0 -2px 2px rgba(51, 51, 51, 0.5);
          box-shadow: 0 -2px 2px rgba(51, 51, 51, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 6px;
}
.new_item_section .label {
  width: 100%;
  padding-bottom: 8px;
}
.new_item_section .label input[type="text"] {
  width: 100%;
}
.new_item_section .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
}
.new_item_section .item .material-icons {
  font-size: 1.5em;
  padding-right: 4px;
}
.new_item_section .item.date {
  font-size: 16px;
  position: relative;
}
.new_item_section .item.date[disabled] {
  opacity: .3;
  pointer-events: none;
}
.new_item_section .item.date .date_select {
  opacity: 0;
  position: absolute;
  width: 100%;
}
.new_item_section .item.limit_flg {
  font-size: 12px;
}

.note_view {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #F0FFC7;
  padding: 12px;
  overflow: auto;
}
.note_view .note_title {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 2px double #999999;
  padding: 4px;
}
.note_view ul {
  line-height: 1.4;
  color: #666666;
  padding: 4px;
}
.note_view ul li {
  border-bottom: 1px dashed #bbbbbb;
  padding: 4px;
}
