@charset 'utf-8';

// コンパスの機能を全部インポート
@import "compass";


//基本設定 *********************************************

//基本フォントサイズ
$baseFontSize:18px;

//基本フォント
$baseFontFamily:-apple-system, 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', 'メイリオ', meiryo, '游ゴシック Medium', sans-serif;

//ベンダープレフィックスの出力制御
$graceful-usage-threshold: 1.0;


//レスポンシブ設定 *********************************************

//スマホのブレークポイント
// $deviceWid: 640px;

// $headerHeiPc: 90px;
// $headerHeiSp: 60px;

// // レスポンシブmixin
// @mixin rspMixIn {
//   @media (max-width: ($deviceWid)) {
//     @content;
//   }
// }


//キーカラー設定 ******************************************

//▼ベース
$cl_black     :#333333;   //黒 テキスト等

$cl_theme     :#45aa04;   //テーマカラー（メイン
$cl_theme_d   :#0a6e1c;   //テーマカラー（濃
$cl_theme_l   :#fff;   //テーマカラー（淡
$cl_orange    :#e18a00;   //テーマカラー（オレンジ

$btn_contact  : #fec61b;  //問い合わせボタン


// -------------------------------
// mixin
// -------------------------------

// // エラー時（赤色）
// @mixin errorStyle($color){
//   background-color: lighten($color, 38%);
//   border-color: lighten($color, 24%);
//   color: darken($color, 5%);
// }

// // 非活性
// @mixin disabledStyle() {
//   color: inherit;
//   cursor: default;
//   opacity: .5;
//   pointer-events: none;
// }

// // フォーカス
// @mixin focusStyle($color){
//   outline: 0;
//   border-color: lighten($color, 30%) !important;
//   box-shadow: 0 0 0 1px lighten($color, 30%), 0 0 0 1px lighten($color, 30%) inset;
// }

// // フォームのボックスシャドウ
// @mixin boxShadow() {
//   box-shadow: 1px 4px 9px -6px rgba(0,0,0,0.5) inset;
// }
// // テキストのボックスシャドウ
// @mixin textShadow() {
//   text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
// }
